*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  position: relative;
}

header {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  height: 45vh;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100vw;
}

h1 {
  display: block;
  margin: 2% 2%;
  /*margin-top: -5%*/
}

#idea-header {
  color: #00A79D;
}

#box-header {
  color: #6D6E71;
}

.input-field {
  border: 1px solid #D1D3D4;
  display: block;
  height: 19px;
  margin: 2.5% auto;
  resize: none;
  width: 50vw;
}

.input-field:placeholder {
  color: #afb0b3;
}

#save-button {
  background-color: #00A79D;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
  height: 20px;
  width: 50vw;
}

#save-button:hover {
  background-color: #045E55;
}

#idea-list {
  align-items: center;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 47vh;
  overflow: scroll;
  position: fixed;
  width: 100vw;
}

[name=search-field] {
  left: 25%;
  position: fixed;
  top: 44%;
  width: 50vw;
  z-index: 1;
}

article {
  border-bottom: 1px solid #D1D3D4;
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
  width: 50vw;
}

h2 {
  color: #6D6E71;
  margin-top: 0;
}

p {
  color: #939598;
}

.button {
  background-repeat: none;
  background-size: 2.25em 2.25em;
  border: none;
  height: 2.25em;
  margin-right: 10px; 
  width: 2.25em;
}

.remove {
  background-image: url('../img/delete.svg');
  margin-right: 0px;
  position: absolute;
  right: 0;
  top: 6px;
}

.remove:hover {
  background-image: url('../img/delete-hover.svg');  
}

.quality-up {
  background-image: url('../img/upvote.svg');
}

.quality-up:hover {
  background-image: url('../img/upvote-hover.svg');
}

.quality-down {
  background-image: url('../img/downvote.svg');
}

.quality-down:hover {
  background-image: url('../img/downvote-hover.svg');
}

h3 {
  color: #6D6E71;
  display: inline-block;
  margin: 0px auto 10px 10px;
  vertical-align: super;
}

@media screen and (max-width: 770px) {
  header {
    height: 41vh;
  }
  form {
    width: 100vw;
  }

  h1 {
    font-size: 25px;
    margin-top: 2%;
  }

  label {
    display: flex;
    justify-content: center;
    margin-top: -2px;
    width: 100vw;
  }

  .input-field {
    width: 70%
  }

  

  #save-button {
    margin-top: 5px;
    width: 70%;
  }

  .bottom {
    display: flex;
  }

  [name=search-field] {
    left: 15%;
    top: 41%;
    width: 70%;
  }

  #idea-list {
    height: 50vh;
    top: 48%;
    width: 100%;
  }

  article {
    width: 70vw;
  }

  h2 {
    font-size: 20px;
  }

  p {
    margin-top: -2%;
    font-size: 15px;
  }

  .button {
    background-size: 1.5em 1.5em;
    height: 1.5em;
    width: 1.5em;
  }

  .upL {
    display: inline-block;
    width: 12px;
  }

  .downL {
    display: inline-block;
    margin-left: 14px;
    width: 12px;
  }

  h3 {
    font-size: 15px;
    text-align: center;
    vertical-align: initial;
  }

  @media screen and (max-width: 360px) {
  header {
    height: 33vh;
    margin: -5% auto;
  }
  form {
    width: 100vw;
  }

  h1 {
    font-size: 20px;
    margin-top: 1%;
  }

  label {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .input-field {
    width: 90%
  }

  [name=idea-description] {
    height: 40px;
  }

  #save-button {
    margin-top: 5px;
    width: 90%;
  }

  .bottom {
    display: flex;
  }

  [name=search-field] {
    left: 5%;
    top: 32%;
    width: 90%;
  }

  #idea-list {
    height: 60vh;
    top: 39%;
    width: 100%;
  }

  article {
    width: 90vw;
  }

  h2 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
    margin-top: -2%;
  }

  .button {
    background-size: 1.5em 1.5em;
    height: 1.5em;
    width: 1.5em;
  }

  h3 {
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
  }

  .upL {
    display: inline-block;
    width: 10px;
  }

  .downL {
    display: inline-block;
    margin-left: 14px;
    width: 10px;
  }
}




