*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  position: relative;
}

header {
  background-color: #E5F3F2;
  width: 100vw;
  height: 45vh;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

h1 {
  display: block;
  margin: 2% 2%;

}

#idea-header {
  color: #00A79D;
}

#box-header {
  color: #6D6E71;
}

.input-field {
  display: block;
  height: 19px;
  width: 50vw;
  margin: 2.5% auto;
  resize: none;
  border: 1px solid #D1D3D4;
}

.input-field::placeholder {
  color: #afb0b3;
}

#save-button {
  height: 20px;
  width: 50vw;
  background-color: #00A79D;
  color: #FFFFFF;
  border: none;

}

#save-button:hover {
  background-color: #045E55;
}

#idea-list {
  height: 47vh;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[name=search-field] {
  width: 50vw;
  position: fixed;
  top: 44%;
  left: 25%;
  z-index: 1;
}

article {
  width: 50vw;
  position: relative;
  border-bottom: 1px solid #D1D3D4;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  color: #6D6E71;
}

p {
  color: #939598;
}

.button {
  background-size: 2.25em 2.25em;
  background-repeat: none;
  border: none;
  width: 2.25em;
  height: 2.25em;
  margin-right: 10px; 
}

.remove {
  background-image: url('../img/delete.svg');
  position: absolute;
  top: 6px;
  right: 0;
  margin-right: 0px;
}

.remove:hover {
  background-image: url('../img/delete-hover.svg');  
}

.quality-up {
  background-image: url('../img/upvote.svg');
}

.quality-up:hover {
  background-image: url('../img/upvote-hover.svg');
}

.quality-down {
  background-image: url('../img/downvote.svg');
}

.quality-down:hover {
  background-image: url('../img/downvote-hover.svg');
}

h3 {
  display: inline-block;
  margin: 0px auto 10px 10px;
  vertical-align: super;
  color: #6D6E71;
}
/*
hr {
  color: #D1D3D4;
}

*/



