*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  position: relative;
}

header {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  height: 40vh;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100vw;
}

h1 {
  display: block;
  margin: 2%;
  color: #00A79D
}

#box-header {
  color: #6D6E71;
}

.input-field {
  border: 1px solid #D1D3D4;
  display: block;
  height: 20px;
  margin: 2.5% auto;
  resize: none;
  width: 50vw;
}

.input-field:placeholder {
  color: #afb0b3;
}

.save-button {
  background-color: #00A79D;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  background-color: #D1D3D4;
}

.show-completed {
  background-color: #00A79D;
  border: none;
  border-radius: 0px;
  color: black;
}

.search-field {
  left: 25%;
  position: fixed;
  top: 44%;
}

.bottom-section {
  align-items: center;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 47vh;
  overflow: scroll;
  position: fixed;
  width: 100vw;
}

#idea-list {

}

article {
  border-bottom: 1px solid #D1D3D4;
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
  width: 50vw;
}

h2 {
  color: #6D6E71;
  margin-top: 0;
}

p {
  color: #939598;
}

.button {
  background-repeat: no-repeat;
  background-size: 2.25em;
  border: none;
  height: 2.25em;
  margin-right: 10px; 
  width: 2.25em;
}

.remove {
  background-image: url('../img/delete.svg');
  margin-right: 0px;
  position: absolute;
  right: 0;
  top: 6px;
}

.vote-label {
  color: #6D6E71;
  display: inline-block;
  margin: 0px auto 10px 10px;
  vertical-align: super;
}

.show-more {
  float: right;
  margin-bottom: 50px;
}

.complete {
  background-color: #93959847;
}

.complete .button {
  background-color: #93959847;
/*  text-decoration: line-through;*/
}

.remove:hover {
  background-image: url('../img/delete-hover.svg');
}

.vote-up {
  background-image: url('../img/upvote.svg');
}

.vote-up:hover {
  background-image: url('../img/upvote-hover.svg');
}

.vote-down {
  background-image: url('../img/downvote.svg');
}

.vote-down:hover {
  background-image: url('../img/downvote-hover.svg');
}

@media screen and (max-width: 770px) {

  header {
    height: 40vh;
  }

  form {
    width: 100vw;
  }

  h1 {
    font-size: 25px;
    margin-top: 2%;
  }

  .input-field {
    width: 70%
  }

  .search-field {
    left: 15%;
    top: 41%;
  }

  .bottom-section {
    height: 50vh;
    top: 48%;
    width: 100%;
  }

  article {
    width: 70vw;
  }

  h2 {
    font-size: 20px;
  }

  p {
    margin-top: -2%;
    font-size: 15px;
  }

  .button {
    background-size: 1.5em;
    height: 1.5em;
    width: 1.5em;
  }

  .vote-label {
    font-size: 13px;
    vertical-align: initial;
  }

  .arrow {
    display: inline-block;
    width: 16px;
  }

}

  @media screen and (max-width: 360px) {

  header {
    height: 33vh;
    margin: -5% auto;
  }

  h1 {
    font-size: 20px;
    margin-top: 1%;
  }

  .input-field {
    width: 90%
  }

  .idea-description {
    height: 52px;
  }

  .save-button {
    margin-top: 5px;
    width: 90%;
  }

  .search-field {
    left: 5%;
    top: 32%;
    width: 90%;
  }

  #idea-list {
    height: 60vh;
    top: 39%;
  }

  article {
    width: 90vw;
  }

  h2 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
    margin-top: -2%;
  }

  .vote-label {
    font-size: 10px;
    vertical-align: middle;
    margin-top: 4px;
  }

}